@model List<_0511.Models.Ticket>
   <h1>チケット一覧</h1>

   <a href ="/Ticket/Create">新規作成</a>

   <table>
       <tr>
           <th>ID</th>
        <th>タイトル</th>
        <th>ステータス</th>
        <th>作成日</th>
       </tr>
    @foreach(var ticket in Model)
    {
        <tr>
            <td>@ticket.Id</td>
            <td>@ticket.Title</td>
            <td>@ticket.Status</td>
            <td>@ticket.CreatedAt.ToString("yyyy/MM/dd")</td>
        </tr>
    }
</table>